/JogoClique/nbproject/private/
/JogoClique/build/
/Aula3/nbproject/private/
/Aula4/nbproject/private/
/Aula4/build/
/Aula5/nbproject/private/
/Aula5/build/
/Polinomio/nbproject/private/
/Conversor/nbproject/private/
/Conversor/build/
/NumeroSerie/nbproject/private/
/NumeroSerie/build/
/AppEstudo/nbproject/private/
/AppEstudo/build/